.publications {
  padding: 30px 0 0 0;
  @include media(md) {
    padding: 20px 0 0 0;
  }

  &__header {
    margin: 0 0 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media(xl) {
      margin: 0 0 35px 0;
    }
    @include media(sm) {
      margin: 0 0 65px 0;
    }

    &-title {
      margin: 0;
    }
  }

  &__content {

  }

  &__slider {
    .swiper {
      &-slide {
        height: auto;
      }
    }
  }
}
